@{
    ViewBag.Title = "Admin";
}

<script src="~/Scripts/Chart.js/Chart.js"></script>

<div class="row">
    <div class="col-md-12">
        <h2>Aylık Kazanç</h2>
    </div>
</div>

<div class="jumbotron">
    <canvas id="chartAylikKazanc" width="2" height="1"></canvas>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Araç Takip</h2>
    </div>
</div>

<div class="jumbotron">
    <canvas id="chartAracTakip" width="2" height="1"></canvas>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Araç Kilometreleri</h2>
    </div>
</div>

<div class="jumbotron">
    <canvas id="chartAracKm" width="2" height="1"></canvas>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Araç Detayları</h2>
    </div>
</div>

<div class="jumbotron">
    <table id="all-vehicles-list" class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Günlük Kiralama Bedeli (₺)</th>
                <th>Minimum Ehliyet Yaşı</th>
                <th>Minimum Sürücü Yaşı</th>
                <th>İşlem</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Entities.VehicleInformation vehicle in (List<Entities.VehicleInformation>)TempData["vehicles"])
            {
                <tr id=@vehicle.Id>
                    <td>@vehicle.Name</td>
                    <td>@vehicle.Model</td>
                    <td>@vehicle.DailyRentalPrice</td>
                    <td>@vehicle.MinLicenseAge</td>
                    <td>@vehicle.MinAge</td>
                    <td> <a href="@Url.Action("Index","Vehicle", new { vehicleId = vehicle.Id })" class="text-dark">Detayları görüntüle</a> </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Fatura</h2>
    </div>
</div>

<div class="jumbotron">
    <div class="row" align="center">
        <div class="col-md-4" align="right">Müşteri TC Kimlik Numarası: </div>
        <div class="col-md-2"><input type="number"  id="customerTc"/></div>
        <div class="col-md-2"><button type="submit" id="getInvoice">Fatura Al</button></div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Kiralama İstekleri</h2>
    </div>
</div>

<div class="jumbotron">
    <table id="customer-list" class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Müşteri Adı - Soyadı</th>
                <th>Müşteri TC No</th>
                <th>Araç Marka - Model</th>
                <th>Kaç Gün Kiralanacak?</th>
                <th>Onayla</th>
                <th>Reddet</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Web.Models.RentRequestViewModel rent in (List<Web.Models.RentRequestViewModel>)TempData["rentRequests"])
            {
                <tr id=@rent.Id>
                    <td>@rent.CustomerName</td>
                    <td>@rent.TCNumber</td>
                    <td>@rent.VehicleName</td>
                    <td>@rent.HowManyDays</td>
                    <td>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <form>
                                <input type="hidden" value="1" name="res" />
                                <input type="hidden" value="@rent.Id" name="rentId" />
                                <button type="submit" class="btn btn-outline-primary btn-sm">Onayla</button>
                            </form>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <form>
                                <input type="hidden" value="0" name="res" />
                                <input type="hidden" value="@rent.Id" name="rentId" />
                                <button type="submit" class="btn btn-outline-primary btn-sm">Reddet</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Kiralanmış Araçlar</h2>
    </div>
</div>

<div class="jumbotron">
    <table id="customer-list" class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Müşteri Adı - Soyadı</th>
                <th>Müşteri TC No</th>
                <th>Araç Marka - Model</th>
                <th>Kiralanan Gün Sayısı</th>
                <th>Iptal Et</th>

            </tr>
        </thead>

        <tbody>
            @foreach (Web.Models.RentRequestViewModel rent in (List<Web.Models.RentRequestViewModel>)TempData["rents"])
            {
                <tr id=@rent.Id>
                    <td>@rent.CustomerName</td>
                    <td>@rent.TCNumber</td>
                    <td>@rent.VehicleName</td>
                    <td>@rent.HowManyDays</td>
                    <td>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <form>
                                <input type="hidden" value="0" name="res" />
                                <input type="hidden" value="@rent.Id" name="rentId" />
                                <button type="submit" class="btn btn-outline-primary btn-sm">Iptal Et</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Kiralanmaya Hazır Araçlar</h2>
    </div>
</div>

<div class="jumbotron">
    <table id="rented-vehicle-list" class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Günlük Kiralama Bedeli (₺)</th>
                <th>Minimum Ehliyet Yaşı</th>
                <th>Minimum Sürücü Yaşı</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Entities.VehicleInformation vehicle in (List<Entities.VehicleInformation>)TempData["vehicles"])
            {
                if (!vehicle.isRentaled)
                {
                    <tr id=@vehicle.Id>
                        <td>@vehicle.Name</td>
                        <td>@vehicle.Model</td>
                        <td>@vehicle.DailyRentalPrice</td>
                        <td>@vehicle.MinLicenseAge</td>
                        <td>@vehicle.MinAge</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/mychart.js"></script>
