@model Entities.VehicleInformation
@{
    ViewBag.Title = "Araç Detayı";
}

<script src="~/Scripts/Chart.js/Chart.js"></script>

<input type="hidden" id="vehicleId" value="@Model.Id"/>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 align="center">Araç Bilgileri</h2>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="jumbotron">
            <p>Marka: @Model.Name</p>
            <p>Model: @Model.Model</p>
            <p>Günlük Kiralama Bedeli: @Model.DailyRentalPrice ₺</p>
            <p>Minimum Ehliyet Yaşı: @Model.MinLicenseAge</p>
            <p>Minimum Sürücü Yaşı: @Model.MinAge</p>
            <p>Mevcut KM: @Model.DailyBorderKm</p>
            <p>Günlük KM Limiti: @Model.DailyLimitKm</p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <canvas id="chartAracTakip" width="2" height="1"></canvas>
        </div>
    </div>
</div>


<script src="~/Scripts/vehiclejs.js"></script>
